$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'color';
// @import 'typography';
// @import 'theme';

// .list-div {
//   background-image: url('./images/jonesislandsunset.jpg');
// }

// body {
//   background-image: url('images/jonesislandsunset.jpg');
//   background-size: cover;
//   // : #dfcbbd;
// }

h1 {
  margin-left: 10px;
}

// .user-info {
//   background-image: url(./images/hopesanddreams.jpg);
// }

li {
  margin-left: 50px;
}

.btn {
  float:none;
}

#showAllHnD,#addNewHnD, #showOneHnD, #updateOneHnD, #clearHnD, #removeOneHnD {
  float: left;
}

.hiding {
  display: none;
}
