$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'color';
// @import 'typography';
// @import 'theme';

// .list-div {
//   background-image: url('./images/jonesislandsunset.jpg');
// }

.container-fluid {
  background: url('./images/hopesandreams.jpg') center;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
//
// body {
//   background: url('./images/hopesandreams.jpg') center;
//   background-repeat:no-repeat;
//   background-size:contain;
//   background-position:center;
//   // : #dfcbbd;
// }

h1 {
  margin-left: 10px;
  color: #eae236;
}

// .first-display, .logged-in-button {
//   background-color: #ab2dc3;
// }
// .user-info {
//   background: url('./images/jonesislandsunset.jpg') center;
// }

li {
  margin-left: 50px;
}

.btn {
  float:left;
}

#showAllHnD,#addNewHnD, #showOneHnD, #updateOneHnD, #clearHnD, #removeOneHnD {
  float: left;
}

.hiding {
  display: none;
}
