$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'color';
// @import 'typography';
// @import 'theme';

// .list-div {
//   background-image: url('./images/jonesislandsunset.jpg');
// }

// .container-fluid    .user-info
body {
  background: url('./images/hopesandreams.jpg') center;
  display: block;
  margin: 0px;
  padding: 0px;
  border:none;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  outline:none;
}

h1 {
  margin-left: 10px;
  color: #d3e37f;
}

// .first-display, .logged-in-button {
//   background-color: #ab2dc3;
// }
// .user-info {
//   background: url('./images/jonesislandsunset.jpg') center;
// }

li {
  margin-left: 50px;
}


p {
  color: #d3e37f;
}

legend {
  color: #d3e37f;
  border:none;
}

form {
  float:none;
  // display: inline-block;
  border:none;
  padding: .938em 1.875em;
  // border: .094em solid #829c5d;
  // border-radius: .625em;
  // background-color: #d3e37f;
  // box-shadow: 0 .375em .313em -0.313em #6ac531, inset 0 .063em #4da117, inset 0 -0.188em #b1ce7d;
  // color: #3f60ba;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 .063em #154969;
  cursor:pointer;
  font: bold 1.8rem;
}
input[type=text] {
    // padding: 0;
    // height: 30px;
    // position: relative;
    // left: 0;
    // outline: none;
    // border: 1px solid #cdcdcd;
    // border-color: rgba(0,0,0,.15);
    // background-color: white;
    // font-size: 16px;
    float:none;
    display: inline-block;
    padding: .938em 1.875em;
    border: .094em solid #829c5d;
    border-radius: .625em;
    background-color: #d1d6bc;
    box-shadow: 0 .375em .313em -0.313em #6ac531, inset 0 .063em #4da117, inset 0 -0.188em #b1ce7d;
    color: #3f60ba;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 .063em #154969;
    cursor:pointer;
    font: bold 1.8rem;
}

input[type=password] {
    // padding: 0;
    // height: 30px;
    // position: relative;
    // left: 0;
    // outline: none;
    // border: 1px solid #cdcdcd;
    // border-color: rgba(0,0,0,.15);
    // background-color: white;
    // font-size: 16px;
    float:none;
    display: inline-block;
    padding: .938em 1.875em;
    border: .094em solid #829c5d;
    border-radius: .625em;
    background-color: #d1d6bc;
    box-shadow: 0 .375em .313em -0.313em #6ac531, inset 0 .063em #4da117, inset 0 -0.188em #b1ce7d;
    color: #3f60ba;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 .063em #154969;
    cursor:pointer;
    font: bold 1.8rem;
}

input[type=submit] {
  float:left;
  display: inline-block;
  padding: .938em 1.875em;
  border: .094em solid #829c5d;
  border-radius: .625em;
  background-color: #d3e37f;
  box-shadow: 0 .375em .313em -0.313em #6ac531, inset 0 .063em #4da117, inset 0 -0.188em #b1ce7d;
  color: #3f60ba;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 .063em #154969;
  cursor:pointer;
  font: bold 1.8rem;
}

fieldset {
  border:none;
}

.btn {
  float:left;
  display: inline-block;
  padding: .938em 1.875em;
  border: .094em solid #829c5d;
  border-radius: .625em;
  background-color: #d3e37f;
  box-shadow: 0 .375em .313em -0.313em #6ac531, inset 0 .063em #4da117, inset 0 -0.188em #b1ce7d;
  color: #3f60ba;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 .063em #154969;
  cursor:pointer;
  font: bold 1.8rem;
}
.btn:hover {
   background-color: #c8ea14;
   box-shadow: 0 .125em #3a4d90, inset 0 .063em #c5e7b0, inset 0 -0.188em #154969;
}
.btn:active {
   box-shadow: inset 0 0 1.094em #51b207, inset 0 .063em #390668, inset 0 -0.188em #682CA0, 0 .063em #6e922f;
}

.auth-btn {
  float:none;
  display: inline-block;
  padding: .938em 1.875em;
  border: .094em solid #829c5d;
  border-radius: .625em;
  background-color: #d3e37f;
  box-shadow: 0 .375em .313em -0.313em #6ac531, inset 0 .063em #4da117, inset 0 -0.188em #b1ce7d;
  color: #3f60ba;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 .063em #154969;
  cursor:pointer;
  font: bold 1.8rem;
}

.auth-btn:hover {
   background-color: #c8ea14;
   box-shadow: 0 .125em #3a4d90, inset 0 .063em #c5e7b0, inset 0 -0.188em #154969;
}
.auth-btn:active {
   box-shadow: inset 0 0 1.094em #51b207, inset 0 .063em #390668, inset 0 -0.188em #682CA0, 0 .063em #6e922f;
}

.auth-input {
  float:left;
  display: inline-block;
  padding: .938em 1.875em;
  border: .094em solid #829c5d;
  border-radius: .625em;
  background-color: #d3e37f;
  box-shadow: 0 .375em .313em -0.313em #6ac531, inset 0 .063em #4da117, inset 0 -0.188em #b1ce7d;
  color: #3f60ba;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 .063em #154969;
  cursor:pointer;
  font: bold 1.8rem;
}

.entry-id-input .entry-title-input .entry-backstory-input .entry-stopper-input .entry-status-input .entry-deleted_flag-input {
  float:left;
  display: inline-block;
  padding: .938em 1.875em;
  border: .094em solid #829c5d;
  border-radius: .625em;
  background-color: #d3e37f;
  box-shadow: 0 .375em .313em -0.313em #6ac531, inset 0 .063em #4da117, inset 0 -0.188em #b1ce7d;
  color: #3f60ba;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 .063em #154969;
  cursor:pointer;
  font: bold 1.8rem;
}

.list-button-div {
  float: none;
}

.small {
  color: #f0720a;
}

#showAllHnD,#addNewHnD, #showOneHnD, #updateOneHnD, #clearHnD, #removeOneHnD {
  float:none;
}

#showAllHnD {
  margin-left: 25px;
}

.hiding {
  display: none;
}
